services:
  app:
    build: .
    container_name: php-api
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    networks:
      - backend
    environment:
      DB_HOST: mysql-db
      DB_NAME: api_db
      DB_USER: api_user
      DB_PASS: api_pass
      DB_CHARSET: utf8mb4

  db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: api_db
      MYSQL_USER: api_user
      MYSQL_PASSWORD: api_pass
    ports:
      - "3306:3306"
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    networks:
      - backend

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react-frontend
    depends_on:
      - app
    networks:
      - backend
    environment:
      - VITE_API_URL=/api

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend/dist:/usr/share/nginx/html:ro
    depends_on:
      - frontend
      - app
    networks:
      - backend

networks:
  backend:
    driver: bridge